html {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: arial, sans-serif;
}
body {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  max-height: 100%;
  margin: 0;
}
#left {
  display: flex;
  flex-direction: column;
  min-width: 25%;
  margin-block: 12px;
  margin-inline-start: 12px;
}
#left_top {
  flex-grow: 1;
  overflow: auto;
  margin-block-end: 12px;
}
#right {
  margin: 12px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
h1, h2 {
  margin: 0;
}
h2:not(:first-child),
div:not(:first-child)[is="file-output"] > h2 {
  margin-block-start: 12px;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
li {
  background: #ccc;
  padding: 4px;
}
li:not(:first-child) {
  margin-top: 4px;
}
li > ul > li {
  background: #fff;
}
label {
  display: block;
  padding: 1px;
}
label > span {
  display: inline-block;
  width: 11ch;
}
#make-output {
  background-color: #090;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  height: 30px;
  line-height: 30px;
  padding: 0;
  border: none;
}
div[is="file-output"] {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
textarea {
  flex-grow: 1;
}

.add-button,
.remove-button {
  width: 20px;
  height: 20px;
  line-height: 20px;
  padding: 0;
  border: none;
  border-radius: 100%;
  opacity: 0.5;
}
.add-button:hover,
.remove-button:hover {
  opacity: 1;
}
.add-button {
  margin-block: 2px;
  margin-inline-start: 4px;
  background-color: #090;
  color: #fff;
}
.remove-button {
  float: right;
  background-color: #c00;
  color: #fff;
}
