html {
  display: flex;
  flex-direction: column;
  height: 100%;
  --margin-size: 12px;
}
body {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  max-height: 100%;
  margin: 0;
}
#left {
  display: flex;
  flex-direction: column;
  min-width: 25%;
  margin-block: var(--margin-size);
  margin-inline-start: var(--margin-size);
}
#left_top {
  flex-grow: 1;
  overflow: auto;
  margin-block-end: var(--margin-size);
}
#right {
  margin: var(--margin-size);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
textarea {
  flex-grow: 1;
}
